!!! 5
%html
  %head
    %title= ["Marklite", @post.hash_id].select{|s|!s.nil?}.join(" - ")
    %meta{:charset => "UTF-8"}
    %meta{:content => "width=320, initial-scale=1.0", :name => "viewport"}
    - ["http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css",
       "/stylesheets/coderay.css",
       "/stylesheets/bootstrap" + (ENV["RACK_ENV"] === "production" ? ".min.css" : ".css"),
       "/stylesheets/application.css"].each do |href|
      %link{:rel => "stylesheet", :href => href}
    %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
  %body
    - if defined?(style) && style == false
      != yield
    - else
      %header.navbar
        .navbar-inner
          .container
            %a.brand{:href => "/"} Marklite
            %ul.nav.pull-right
              - if !@post.id.nil? && defined?(content)
                %li
                  %a{:href => "/#{@post.hash_id}/edit"}
                    %i.icon-edit.icon-white
                    Edit
      .container
        != yield
      %footer
        - if request.path_info == "/"
          .container
            Created by
            %a{:href => "http://twitter.com/superbrothers", :target => "_blank"} @superbrothers
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    %script{:src => "/javascripts/application.js"}
    != yield_content :javascript
